
<h2>Add New Artist</h2>

<%= form_with model: @artist, local: true do |f| %>

  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br><br>
  
  <%= f.label :nationality %>
  <br>
  <%= f.text_field :nationality %>
  <br><br>

  <%= f.label :dob, 'Date of Birth' %>
  <br>
  <%= f.date_field :dob %>
  <br><br>
  
  <%= f.label :period %>
  <br>
  <%= f.text_field :period %>
  <br><br>

  <%= f.label :roundness %>
  <br>
  <%= f.number_field :roundness, in: 1..10 %>
  <br><br>

  <%= f.label :bio %>
  <br>
  <%= f.text_area :bio %>
  <br><br>
  
  <%= f.label :image %>
  <br>
  <%= f.text_field :image, placeholder: 'URL here' %>
  <br><br>

  <%= f.submit %>

<% end %>