
<h2><%= @artist.name %></h2>

<!--                /artists/5/edit          -->
<%= link_to 'Edit', edit_artist_path(@artist.id) %>
|
<%= link_to 'Delete', artist_path(@artist.id), method: 'delete' %>

<p>
  <strong>Nationality:</strong>
  <%= @artist.nationality %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @artist.dob %>
</p>

<p>
  <strong>Period:</strong>
  <%= @artist.period %>
</p>

<p>
  <strong>Roundness:</strong>
  <%= @artist.roundness %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @artist.bio %>
</p>

<%= image_tag @artist.image, alt: @artist.name, class: 'artist_image' %>