
<% if @mixtape.errors.any? %>
  <strong>Please correct the following:</strong>
  <ul>
    <% @mixtape.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @mixtape, local: true, html: { multipart: true } do |f| %>

  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <br>

  <%= f.label :image %>
  <br>
  <%= f.file_field :image %>
  <br>
  <br>

  <%= f.submit %>

<% end %>